@mixin small {
    @media (min-width: #{$max-sm}) {
        .presentation__potho {
            height: 100px;
            background-size: cover;
          }
        
          .section__col--2 {
            margin-left: 14%;
        
          }
        
          .section__col--3 {
            display: none;
          }
    }
}
@mixin media {
@media (min-width: #{$max-md}) {
    .presentation__potho{
      height: 300px;
      background-size: cover;
    }
  
    .section__col--1 {
      width: 20%;
    }
  
    .section__col--2 {
      width: 50%;
    }
  
    .section__col--3 {
      display: none;
    }
  }
}