.presentation__potho {
  background-image: url("../img/presentation-image.png");
  height: 300px;
  background-size: cover;
  background-position: center;
} 

.section__potho {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  text-align: center;
}

.section__col--1 {
  margin-top: 2%;

}
.section__col--2 {
  margin-top: 2%;

}

.section__col--3 {
  text-align: right;
  margin-top: 2%;

}
